/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
}

.like-btn {
    background: rgba(255, 217, 0, 0.808);
    vertical-align: center;
    border-radius: 0px;
    border: 1px solid #000;
    box-shadow: 2px 2px 0px 1px #000;
    padding: 2px;
}

/*padded nav*/
#nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: silver;
    margin: 0 0 2%;
    padding: 1.5% 0;
}

/*non-padded nav*/
.nav {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background: rgb(77, 77, 77);
    color: #fff;
}


button#login-btn {
    width: 50px;
    background: rgb(58, 109, 218);
    color: #fff;
}


/*selects image changes it to sepia, saturate it and rotate the hue to the color of your liking*/
img[alt="checkmark"] {
    filter: sepia(100%) hue-rotate(45deg) saturate(3);
}

/*controls image width and vertically aligns it with the inline text its within if any*/
img[alt="gear"], img[alt="map-pin"] {
    width: 1%;
    max-width: 12px;
    min-width: 10px;
    vertical-align: middle;
    padding: 0 1% 0 0;
}